**/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
gce-service-account.json
vault.key
gce.py
gce.ini
__pycache__
.venv
*.pyc
.env
.venv
docker/.env
alertmanager.secrets
.vagrant
*.tgz
