[submodule "src/search_engine_crawler"]
	path = src/search_engine_crawler
	url = https://github.com/loktionovam/search_engine_crawler.git
[submodule "src/search_engine_ui"]
	path = src/search_engine_ui
	url = https://github.com/loktionovam/search_engine_ui.git
[submodule "kubernetes/charts"]
	path = kubernetes/charts
	url = https://github.com/loktionovam/search_engine_charts.git
