project = "{{ gcp_project }}"

size = 20

defaultpool_nodes_count = 3

bigpool_nodes_count = 2

cluster_name = "{{ cluster_name }}"

zone = "{{ cluster_zone }}"

search_engine_dns_zone = "{{ dns_zone }}"
