ALERTMANGER_EMAIL_AUTH_USERNAME=email_login
ALERTMANGER_EMAIL_AUTH_PASSWORD=email_password
ALERTMANGER_EMAIL_TO=email_receiver
ALERTMANGER_EMAIL_FROM=alertmanager@example.com
ALERTMANAGER_SLACK_API_URL=slack_url_here
